


<router-outlet></router-outlet>

<!--
<app-titulo [texto]="'Que te parecio la comida?'"></app-titulo>

<app-button 
[src]="'https://images.pexels.com/photos/17374039/pexels-photo-17374039/free-photo-of-carretera-coche-vehiculo-efecto-desenfocado.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
[name]="'valoracion'"
[value]="'Bueno'"
[alt]="'Bueno'"
>

</app-button>

<app-button 
[src]="'https://images.pexels.com/photos/17900125/pexels-photo-17900125/free-photo-of-isla.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
[name]="'valoracion'"
[value]="'Bueno'"
[alt]="'Bueno'"
>

</app-button>-->

    
    <!--<button type="submit" name="valoracion" value="Bueno">
        <img src="images/feliz.png" alt="Feliz">
    </button>
    <button type="submit" name="valoracion" value="Regular">
        <img src="images/neutra.png" alt="Neutra">
    </button>
    <button type="submit" name="valoracion" value="Malo">
        <img src="images/triste.png" alt="Triste">
    </button>
    <button type="submit" name="valoracion" value="Muy Malo">
        <img src="images/triste.png" alt="Muy Triste">
    </button>-->
